* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;

}

$width: 1170px;

.fullscreen{
    background-image: url(./img/fon.png);
    background-size: cover;
    height: 100vh;
    background-position-y: 100%;
}


.header{
    margin-top: 8px;
    max-width: $width;
    margin: 0px auto;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__nav{
        width: 427px;
        display: flex;
        justify-content: space-between;
    }



    &__link{
        color: #202020;
        text-align: right;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    &__phone{
        color: #202020;
        text-align: right;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__txt{
        margin-top: 8px;
        color:#7D808A;
        font-family: Roboto;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
    &__input{
        display: none;
    }
    &__mobile-line{
        display: none;
    }
    &__mobile-text{
        display: none;
    }
}
.section-about{
    max-width: $width;
    margin: 0 auto;
    border: 1px solid #000;

    &__title{
        text-align: center;
    }
    &__block{
        display: flex;
    }

    &__box{
        display: flex;
        flex-wrap: wrap;
    }
    &__inside{
        width: 240px;
        margin: 0 auto;
    }
}
.section2{
    display: flex;
    margin: 0 auto;
    border: 1px solid #000;
    justify-content: space-around;
    align-items: center;

    &__block{
        width: 150px;
    }

    color:#0B0B0B;
    text-align: center;
    /* h3*/
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &__block-txt{
    color: #7E7E7E;
    text-align: center;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.7%; 
    }
    .main__title2{
        text-align: center;
        padding: 10px 0;
    }
    .main__title3{
        text-align: center;

    }
}
.section3{
    max-width: $width;
    border: 1px solid #000;
    margin: 0 auto;

    &__block{
        width: 300;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.07); 
    }
}
.block-info{
    display: flex;
    max-width: $width;
    border: 1px solid #000;
    margin: 0 auto;
    justify-content: space-between;

    &__title{

    }
    &__right{
        max-width: 500px;
    }
    &__left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 300px;
        max-width: 360px;
        align-items: center;
    }
    &__button{
        width: 270px;
        height: 70px;
        flex-shrink: 0; 
        border-radius: 5px;
        background: linear-gradient(180deg, #b9aa24 0%, #ecf00a 100%);
    }
    &__btn-txt{
        display: flex;
        padding: 15px 30px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #6A5300;
        text-align: center;
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px; /* 213.333% */
        letter-spacing: 1.05px;
        text-transform: uppercase;
    }
}
@media(max-width: 760px){
    .header{
        &__nav{
            display: none;
            }
        &__info{
            display: none;
            }
        &__input{
            display: block;
        }
        &__mobile-line{
            display: block;
            width: 10px;
            height: 2px;
            background: #036e4b;
            position: relative;
        }
        &__mobile-line::after{
            content: '';
            width: 10px;
            height: 2px;
            background: #036e4b;
            position: relative;
            top: 5px;
        }
        &__mobile-line::before{
            content: '';
            width: 10px;
            height: 2px;
            background: #036e4b;
            position: relative;
            top: 10px;
        }
        &__mobile-text{
            display: block;
            color: #202020;
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px; /* 100% */ 
        }
        &__input-btn{
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 77px;
            height: 29px;
        }
    }
}